.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: slategray;
    
}

.button {
    width: 45px;
    height: 45px;
    margin: 3px;   
    background-color: powderblue;
}